/*
font-family: 'Playfair Display', serif; - Titles
font-family: 'Dosis', sans-serif; - Flexbox Menu Body
font-family: 'Dancing Script', cursive; - Flexbox Menu Title
font-family: 'Open Sans', sans-serif; - body 
*/

