/*
font-family: 'Playfair Display', serif; - Titles
font-family: 'Dosis', sans-serif; - Flexbox Menu Body
font-family: 'Dancing Script', cursive; - Flexbox Menu Title
font-family: 'Open Sans', sans-serif; - body
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 32pt;
    font-weight: 900;
}

#page-wrapper {
    position: relative;
}

li {
    list-style: none;
}

a {
    color: #f8f9fa;
    text-decoration: none;
}

.container {
    max-width: 1440pt;
    width: 100%;
    margin: 0 auto;
}

.btn {
    background: transparent;
    border: 1pt #ced4da solid;
    border-radius: 8pt;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 400;
    height: 32pt;
    text-transform: uppercase;
    padding: 0 24px;
}

.grid {
    display: flex;
}

header {
    font-family: 'Dosis';
    font-weight: bolder;
    position: fixed;
    top: 0;
    min-height: 72pt;
    padding: 0px 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1ec43d;
    width: 100%;
}

.logo {
    width: 60vw;
}

@media (max-width:600pt) {
    header {
        flex-wrap: wrap;
    }

    .logo {
        margin-top: 16pt;
        width: 100%;
        position: relative;
    }

    .logo img {
        width: 100%;
        height: 100%;
        max-width: 300pt;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 32pt;
        margin: 0 auto;
    }
}

nav {
    font-weight: 400;
    font-size: 1.5em;
}

nav ul {
    width: 32vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5pt;
}

nav ul li {
    padding: 5pt;
}

@media (max-width: 600pt) {
    nav {
        margin-top: 8pt;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0 52pt;
    }

    nav ul li {
        padding-bottom: 4px;
    }

    nav ul {
        flex-direction: column;
    }
}

/* About Us */
#about-us {
    margin-top: 148pt;
}

#about-us h1 {
    font-family: 'Playfair Display';
    text-align: center;
    margin-bottom: 20pt;
    word-wrap: break-word;
}

#about-us .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 720pt;
    margin: 0 auto;
}

#about-us .icons {
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 148pt;
    width: 16vw;
    color: #1ec43d;
}

#about-us .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125pt;
    width: 80vw;
    padding: 5pt;
}

@media (max-width: 720pt) {
    #about-us {
        margin-top: 120pt;
    }

    #about-us .icons {
        display: none;
    }
}

@media (max-width: 600pt) {

    #about-us .icons {
        display: none;
    }

    #about-us .desc {
        width: 100%;
        text-align: center;
        padding: 0;
        height: 150pt;
    }
}

/* Promo Video */
#promo-video {
    margin-top: 50pt;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#promo-video h1 {
    font-family: 'Playfair Display';
    text-align: center;
    margin-bottom: 20pt;
    word-wrap: break-word;
}

#promo-video iframe {
    margin: 0 auto;
    max-width: 720pt;
}

@media (max-width: 600pt) {

    #promo-video {
        margin-top: 180pt;
    }

    #promo-video iframe {
        width: 100%;
    }
}

/* Newsletter */
#newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200pt;
    margin-top: 100pt;
}

#newsletter h1 {
    font-family: 'Playfair Display';
    margin-bottom: 5pt;
    word-wrap: break-word;
}

#newsletter h2 {
    font-family: 'PLayfair Display';
    margin-bottom: 12pt;
    word-wrap: break-word;
}

#newsletter form {
    margin-top: 10pt;
}

#newsletter input[type="email"] {
    max-width: 275pt;
    height: 30pt;
    width: 100%;
    padding: .5em;
    text-align: center;
}

#newsletter input[type="submit"] {
    max-width: 120pt;
    width: 100%;
    height: 30pt;
    margin: 10pt 0;
    border: 1;
    background-color: #f8f9fa;
}

#newsletter input[type="submit"]:hover {
    color: #f8f9fa;
    background-color: #1ec43d;
    transition: background-color .3s;
}

@media (max-width: 480pt) {
    #newsletter {
        margin-top: 120pt;
    }
}

/* Reservations */
#reservations {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 720pt;
}

#reservations #morning {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #212529;
    border-radius: 8pt;
}

#reservations #lunch {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #212529;
    border-radius: 8pt;
}

#reservations #dinner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #212529;
    border-radius: 8pt;
}

#reservations .menu-title {
    background-color: #1ec43d;
    color: #f8f9fa;
    padding: 15pt 0;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Dancing Script';
    font-weight: 800;
    font-size: 24pt;
    border-top-left-radius: 7pt;
    border-top-right-radius: 7pt;
}

#reservations h2 {
    font-family: 'Dancing Script';
    text-align: left;
    margin-top: 15pt;
}

#reservations .menu-list {
    text-align: left;
    font-family: 'Dosis';
}

#reservations ol {
    margin: 15px 0;
}

#reservations li {
    padding: 5px 0;
}

#reservations .btn {
    border: 1;
    margin: 15px 0;
    background-color: #f8f9fa;
    font-weight: 400;
}

#reservations [class="btn"]:hover {
    background-color: #1ec43d;
    transition: background-color .3s;
}

@media (max-width: 960px) {
    [id="reservations"] {
        flex-direction: column;
    }

    [id="morning, lunch, dinner"] {
        max-width: 300px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
}

#reserv-title {
    width: 0 auto;
    text-align: center;
    margin-top: 60px;
}

/* Footer */

footer {
    margin-top: 30pt;
    background-color: #212529;
    padding: 20pt;
}

footer .grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer ul {
    display: flex;
    justify-content: flex-start;
}

footer ul li {
    padding: 0 10pt;
}

footer span {
    margin-top: 10pt;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
    color: #f8f9fa;
}